/*Styling for smart phones*/
@media only screen and (max-width: 768px){
	/*Top banner*/
  video {
	display: none;
  }
    /*Navigation*/
 .dropbtn {
        background-color: #13073A;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {background-color: #f1f1f1}

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #13073A;
    }
    nav {
        background-color:  #13073A;
    }
}
/*Devices bigger than smartphone*/
@media only screen and (min-width: 768px){
    body{
        margin: 0;
        padding: 0;
    }
 
    /*Navigation*/
    .dropbtn {
        background-color: #13073A;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        z-index: 1;
    }

    .dropdown-content a {
        color: #13073A;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {background-color: #f1f1f1}

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #13073A;
    }
    nav  {
        background-color:  #13073A;
    }
	/*Navigation end*/
    footer {
        background-color:  #4CAF50;
        height: 50px;
        text-align: center;
        color: white;
        padding-top: 20px;
    }
    main {
        padding-left: 20px;
        padding-top: 20px;
    }
}

@media only screen and (min-width: 1028px){
    main {
        width: 70%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
/*For every screen*/
footer {
   background-color:  #13073A;
   height: 50px;
   text-align: center;
   color: white;
   padding-top: 20px;
   margin-top: 50px;
}
h1, h2, h3 {
   color: #403075;
}
   /*Top image*/
#banner {
   height: 120px;
   background-color: gray;
   background: url("../img/bcit.jpg")no-repeat fixed;
   background-size: 100%;
}


body{
     font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
section{
    border: dotted;
    border-width: 2px;
    padding-left: 10px;
}
/*Top video section on the home page*/
header {
    position: relative;
    overflow: hidden;
    width:100vw;
    height:100vh;
    max-height:100vh;
    text-align:center;
}
header>h1 {
	color: #13073A;
	z-index: 1;
	text-align: left;
	padding-left: 20px;
	margin-top: 350px;
}
video {
    position:absolute;
    top: -99999px;
    bottom: -99999px;
    left: -99999px;
    right: -99999px;
    margin: auto;
    min-height:100%;
    min-width:50%;
	z-index: -1;
}